
.class {
    text-align: center;
  
    }

  
  .kh {
    background-color: black;
    color: white;
    height: 50px;
    display: flex;
    margin: 0px;
  }
  
  .kha {
    display: flex;
    flex-direction: row;
    padding: 17px ;
  
  }
  i:hover
  {
    opacity: 0.5;
  }
  .youness{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  
  
  
  
  .aymane
  {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    margin-left: 10px;
  
  
  }
  .adli
  {
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
    flex-direction: row;
    width: 40%;
    margin-left: 50px;
  
  }
  
  
  .bold{
    height: 1px;
    border-bottom: 1px solid rgb(78, 74, 74);
    width: 5%;
    margin-left: 10px;
  }
  .sold{
    height: 1px;
    border-bottom: 1px solid rgb(78, 74, 74);
    width: 3%;
    margin-left: 10px;
  }

  
  .gold{
    height: 1px;
    border-bottom: 1px solid rgb(78, 74, 74);
    width: 90%;
    margin-left: 50px;
  }
.container
{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  justify-content: space-between;

}
.element 
{
  height: 300px ;
  width:200px;
  background-color: white;
  border-radius: 5px;

}
.element:hover
{
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgb(59, 57, 57);
  transition: 0.5s;
}
.l3jeb:hover
{
  transform: translateX(10px);
  transition: 0.5s;
}

.flex
{
  background-color: white;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;

}
.flex1
{
  margin: 1.5%;
}
.flex1:hover
{
  opacity: 0.5;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
